@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0a0b0b;
  color: white;
}

.glow {
  box-shadow: 0 0 20px #2e7be1;
  transition: box-shadow 0.3s;
}

.glow:hover {
  box-shadow: 0 0 50px #2e7be1;
}

.glow-sm {
  box-shadow: 0 0 10px #2e7be1;
  transition: box-shadow 0.3s;
}

.glow-sm:hover {
  box-shadow: 0 0 20px #2e7be1;
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.glass-no-radius {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.background {
  background: linear-gradient(90deg, #0f0f0f 0%, rgba(78, 78, 78, 0) 347.86%);
}

.typing-demo {
  width: 24.1ch;
  animation: typing 2s steps(27), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.typing-demo-name {
  width: 12.5ch;
  animation: typingName 5s steps(13), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

@keyframes typingName {
  from {
    width: 0;
  }
}

@keyframes spinFrames {
  to {
    transform: rotate(360deg);
  }
}
.spin {
  animation: spinFrames 10s linear infinite;
}

.custom-duration {
  transition-duration: 1500ms;
}
